core-bc/composites/types/doc/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="responseType"/>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="xs:string" name="statuscode"/>
      <xs:element type="xs:string" name="statusmessage"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>